@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s4alfe');
  src:  url('fonts/icomoon.eot?s4alfe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s4alfe') format('truetype'),
    url('fonts/icomoon.woff?s4alfe') format('woff'),
    url('fonts/icomoon.svg?s4alfe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-face:before {
  content: "\e910";
  color: #124725;
}
.icon-insta:before {
  content: "\e911";
  color: #124725;
}
.icon-link:before {
  content: "\e912";
  color: #124725;
}
.icon-tube:before {
  content: "\e913";
  color: #124725;
}
.icon-diferencial1:before {
  content: "\e909";
  color: #045328;
}
.icon-diferencial2:before {
  content: "\e90a";
  color: #045328;
}
.icon-diferencial3:before {
  content: "\e90b";
  color: #045328;
}
.icon-diferencial4:before {
  content: "\e90d";
  color: #045328;
}
.icon-diferencial5:before {
  content: "\e90e";
  color: #045328;
}
.icon-diferencial6:before {
  content: "\e90f";
  color: #045328;
}
.icon-diferencial9:before {
  content: "\e9f2";
  color: #045328;
}
.icon-diferencial10:before {
  content: "\e9f3";
  color: #045328;
}
.icon-diferencial11:before {
  content: "\e9f4";
  color: #045328;
}
.icon-diferencial-12:before {
  content: "\e9f5";
  color: #045328;
}
.icon-diferencial-13:before {
  content: "\e9f6";
  color: #045328;
}
.icon-diferencial-14:before {
  content: "\e9f7";
  color: #045328;
}
.icon-twitter:before {
  content: "\e90c";
  color: #598dca;
}
.icon-whatsapp:before {
  content: "\e903";
}
.icon-20673:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e904";
  color: #bcd038;
}
.icon-linkedin:before {
  content: "\e906";
  color: #bcd038;
}
.icon-loupe:before {
  content: "\e907";
  color: #145a2a;
}
.icon-youtube:before {
  content: "\e908";
  color: #bcd038;
}
.icon-send:before {
  content: "\e905";
  color: #145a2a;
}
.icon-arrow_right:before {
  content: "\e901";
  color: #145a2a;
}
.icon-arrow_left:before {
  content: "\e902";
  color: #145a2a;
}
