/*!
Theme Name: LGPD Conformidade
Theme URI: http://underscores.me/
Author: Eduardo de Melo
Author URI: http://eduardodemelo.com.br
Description: Tema desenvolvido para View
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: lgpd-conformidade
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

LGPD Conformidade is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus,
a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.questions {
	color: #fff
} 

:root {
	--first-color: #D67237;
	--secondary-color: #334A82;
	--main-font: 'Lato', sans-serif;
}

html,
body{
	background: #FFF;
	font-family: var(--main-font);
	color: var(--secondary-color);
}

body{
	padding-top: 0px;
	color: var(--secondary-color);
}

strong{
	font-weight: 600;
}

:focus {
	outline: none;
}

input[type=submit],
button[type=submit]{
	cursor: pointer;
}

.post, .page {
	margin: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

a{
	color: #000;
}

a:visited {
	color: inherit;
}

p{
	line-height: 1.2;
	font-size: 24px;
	font-weight: 400;
	color: var(--secondary-color);
}

.mobile{
	display: none;
}

.btn{
	text-align: center;
}

.btn a{
	background: var(--first-color);
	color: #FFF;
	text-decoration: none;
	padding: 16px 44px;
	font-weight: 900;
	font-size: 21px;
	border-radius: 4px;
	transition: all .25s;
}

.btn a:hover{
	background: var(--secondary-color) !important;
	color: #FFF !important;
		transition: all .25s;
}

.title{
	font-size: 36px;
	color: var(--first-color);
	text-align: center;
	margin: 0 0 48px;
}

.bx-hero .scrolldown{
	display: none;
}

/*===================*/

.menu-toggle{
	width: 26px;
	height: 26px;
	position: relative;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
	float: right;
	-webkit-user-select: none;
  user-select: none;
}

.main-navigation.toggled .menu__btn > span {
  transform: rotate(45deg);
}
.main-navigation.toggled .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.main-navigation.toggled .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
	z-index: 999999;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #FFF;

  transition-duration: .25s;
}

.main-navigation.toggled .menu__btn > span,
.main-navigation.toggled .menu__btn > span::before,
.main-navigation.toggled .menu__btn > span::after {
	  background-color: #1c263c;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.main-navigation.toggled .bx-menu-navigation {
	visibility: visible;
  right: 0;
}

/* =========================
 * 
 * HEADER
 * 
 * ========================= */

header#masthead .mobile-social{
	display: none;
}

header#masthead{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: var(--secondary-color);
	padding: 20px 0;
	box-shadow: 0px 6px 6px rgb(14 16 21 / 20%);
	transition-duration: .25s;
}

.main-navigation ul{
	text-align: center;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-navigation li{
	display: inline-block;
}

.main-navigation a{
	font-weight: 500;
	font-size: 16px;
	margin: 0 10px;
	line-height: 1;
	color: #FFF;
	display: block;
}

.main-navigation a:hover{
	color: var(--first-color);
}


/**/

/* =========================
 * 
 * FORM
 * 
 * ========================= */

form.wpcf7-form {
	max-width: 440px;
	margin: 0 0 0;
}

form.wpcf7-form input:not([type=submit]),
form.wpcf7-form textarea,
form.wpcf7-form select{
	width: 100%;
	margin: 0 0 15px;
	border: none;
	border-radius: 0;
	font-size: 16px;
	padding: 15px;
	color: #FFF;
	background: none !important;
	border-bottom: 2px solid #FFF;
}

form.wpcf7-form textarea{
	max-width: 100%;
	max-height: 120px;
}

form.wpcf7-form ::-webkit-input-placeholder {
  color: #FFF;
	font-weight: 400;
}
form.wpcf7-form ::-moz-placeholder {
  color: #FFF;
	font-weight: 400;
}
form.wpcf7-form :-ms-input-placeholder { 
  color: #FFF;
	font-weight: 400;
}
form.wpcf7-form :-moz-placeholder {
  color: #FFF;
	font-weight: 400;
}


.wpcf7-submit{
	float: right;
	cursor: pointer;
	border: none !important;
	border-radius: 4px !important;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px !important;
	padding: 14px 74px !important;
	display: inline-blockblock;
	color: #FFF !important;
	background: var(--first-color) !important;
	transition: all .25s;
	font-weight: bolder;
}

.wpcf7-submit:hover{
		background: var(--secondary-color) !important;
		transition: all .25s;
}

.wpcf7-not-valid-tip{
	margin-top: -16px;
	margin-bottom: 16px;
}

.wpcf7 .ajax-loader{
	display: none;
}

/* =========================
 * 
 * HERO
 * 
 * ========================= */

.bx-hero{
	position: relative;
}

.wrp-hero-mobile {
	display: none;
}

.bx-hero form.wpcf7-form {
	width: 800px;
}

.bx-hero .wrp-hero {
    height: auto;
    width: 100%;
    padding: 40px 48px 40px 48px;
    background: url(assets/img/banner-hero.jpeg) no-repeat top center;
    background-size: cover;
}

.bx-hero .wrp-hero h2,
.bx-hero .wrp-hero h2 strong{
	margin: 0;
	font-size: 46px;
	line-height: 1.2;
	font-weight: 900;
	color: #FFF;
}

.bx-hero .wrp-hero h2 strong{
	color: var(--first-color);
}

.bx-hero .scrolldown{
	color: #FFF;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 60px;
	cursor: pointer;
}


/* =========================
 * 
 * SOBRE
 * 
 * ========================= */

.wrp-sobre{
	padding: 90px 0 60px;
	background: rgba(130, 131, 132, 0.1);
}

.wrp-sobre p{
	text-align: justify;
}
.list-quem-somos {
	display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.list-quem-somos .item {
    display: flex;
    flex-direction: row;
}
.list-quem-somos .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.list-quem-somos .item .icon img {
    width: 26px;
    height: fit-content;
    max-width: initial;
}

/* =========================
 * 
 * PERFIL
 * 
 * ========================= */

.wrp-perfil{
	padding-bottom: 120px;
	background: rgba(130, 131, 132, 0.1);
}

.wrp-perfil h2{
	font-size: 28px;
	display: inline-block;
	margin: 0;
	line-height: 1.2;
	border-bottom: 2px solid
}

.wrp-perfil p{
	font-weight: 300;
	font-size: 24px;
}

.wrp-perfil .cx-renato{
	text-align: right;
}

/* =========================
 * 
 * CONTATO
 * 
 * ========================= */

.wrp-contato{
	padding: 90px 0;
	background: var(--first-color);
	color: #FFF;
}

.wrp-contato h2{
	text-align: center;
	margin: 0;
	font-size: 32px;
	line-height: 1;
}

.wrp-contato form.wpcf7-form {
	max-width: 100%;
	margin: 0 auto 0;
}

.wrp-contato .wpcf7-submit{
	float: right;
	cursor: pointer;
	border: none !important;
	border-radius: 4px !important;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px !important;
	padding: 14px 54px !important;
	display: inline-blockblock;
	background: var(--first-color) !important;
	transition: all .25s;
	font-weight: bolder;
	background: #FFF !important;
	color: var(--first-color) !important;
}

.wrp-contato .wpcf7-submit:hover{
		background: var(--secondary-color) !important;
	color: #FFF !important;
		transition: all .25s;
}

/* =========================
 * 
 * PREPARE
 * 
 * ========================= */

.wrp-prepare{
	padding: 90px 0;
}

.wrp-prepare .cx-card{
	padding: 21px;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.06);
	margin-bottom: 32px;
}

.wrp-prepare .cx-card p{
	font-size: 21px;
	margin: 0;
}

.wrp-prepare .btn{
	margin-top: 32px;
}

/* =========================
 * 
 * PREMISSAS
 * 
 * ========================= */

.wrp-premissas {
	padding: 60px 0 80px;
}

.wrp-premissas .cx-card{
	padding: 42px;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.06);
	margin-bottom: 32px;
}

.wrp-premissas .cx-card .item{
	margin-bottom: 32px;
	font-size: 21px;
}

.wrp-premissas .cx-card .item img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.wrp-premissas .cx-card .item:last-child{
	margin: 0;
}

/* =========================
 * 
 * FOOTER
 * 
 * ========================= */

.site-footer{
	padding: 48px 0;
	background: var(--first-color);
	color: #FFF;
}

.site-footer .cx-contatos{
	display: flex;
	justify-content: space-between;
}

.site-footer .cx-contatos .item img{
	margin-right: 10px;
}

.site-footer .cx-contatos .item{
	display: flex;
}


.site-footer a{
	color: #FFF;
	text-decoration: none;
	display: block;
}

.site-footer h2{
	margin: 0 0 32px;;
	text-align: center;
}


/* =========================
 * 
 * 768
 * 
 * ========================= */

@media only screen and (max-width: 768px) {
	.wrp-hero-mobile {
		display: block;
	}
	.bx-hero .wrp-hero {
		background: #fff !important;
	}
	.bx-hero .wrp-hero .questions {
		color: var(--secondary-color);
	}
	.main-navigation .bx-menu-navigation li a{
		margin-left: 25px;
	}
	
	header#masthead .mobile-social{
		padding-left: 10px;
		display: block;
	}
	
	header#masthead .mobile-social a{
		margin: 30px 10px 0;
		display: inline-block;
		max-width: 45px;
	}
	
	.main-navigation ul{
		display: none;	
	}
	
	.main-navigation .bx-menu-navigation{
		display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    z-index: 9999;
    width: 75%;
    height: 100%;
    margin: 0;
    padding: 100px 0 0;
    list-style: none;
    background-color: #FFF;
    box-shadow: 0px 6px 6px rgb(0 0 0 / 20%);
    transition-duration: .25s;
	}
	
	.main-navigation .bx-menu-navigation li{
		text-align: left;
		display: block !important;
	}
	
	.main-navigation .bx-menu-navigation li a{
		padding: 15px 0;
		color: var(--secondary-color);
	}
	
	.main-navigation .bx-menu-navigation li.btn-default a{
		padding: 15px;
	}
	
	.main-navigation .last-item-menu{
		margin-top: 20px;
		border: none;
	}
	
	header#masthead .social{
		display: none;
	}
	
	.bx-hero .wrp-hero h2, .bx-hero .wrp-hero h2 strong{
		margin-top: 30px;
		font-size: 21px;
		color: var(--secondary-color);
	}
	
	.bx-hero form input:not([type=submit]), .bx-hero form textarea, .bx-hero form select{
		color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
	
	
	.bx-hero .wrp-hero{
		padding: 20px;
	}
	
.bx-hero form.wpcf7-form {
		width: 100%;
    max-width: 100%;
    position: relative;
    bottom: 0;
	margin-top: 40px;
}
	
	.site-footer .cx-contatos{
		display: block;
	}
	
	.site-footer .cx-contatos .item{
		margin-bottom: 30px;
	}
	
	.wrp-premissas .cx-card .item{
		font-size: 18px;
	}
	
	.title{
font-size: 26px;
	}
	
	.btn a{
		padding: 12px 20px;
		    font-size: 14px;
	}
	
	.wrp-premissas .cx-card{
		padding: 20px;
	}
	
	.wrp-perfil .cx-renato,
	.wrp-perfil .cx-lethicia{
		text-align: center;
	}
	
	.wrp-perfil h2{
		font-size: 24px;
	}
	
	.wrp-perfil p{
		font-size: 18px;
	}
	
	.wrp-perfil .btn{
		margin-top: 32px;
	}
	
	.bx-hero .wrp-hero{
		position: relative;
	}

	.bx-hero form.wpcf7-form ::-webkit-input-placeholder {
  color: var(--secondary-color);
	font-weight: 400;
}
.bx-hero form.wpcf7-form ::-moz-placeholder {
  color: var(--secondary-color);
	font-weight: 400;
}
.bx-hero form.wpcf7-form :-ms-input-placeholder { 
  color: var(--secondary-color);
	font-weight: 400;
}
.bx-hero form.wpcf7-form :-moz-placeholder {
  color: var(--secondary-color);
	font-weight: 400;
}
	
}
form.wpcf7-form input[type=checkbox] {
	width: auto !important;
	margin: 0;
}
form.wpcf7-form input[type=checkbox] + span {
	color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
}
.autorizo .wpcf7-list-item {
	margin: 0
}
.send-form-header {
	margin-top:10px;
}


/* =========================
 * 
 * PAGE
 * 
 * ========================= */

.page .entry-title,
.page h2{
	text-align:center;
}

.page .site-main {
	padding:0 20px;
}
